/* --- Decoración del menú lateral --- */

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: brown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: yellow;
    display: block;
    transition: 0.5s;
}

.menu a:hover {
    color: black;
}

.menu .cerrarMenu {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 2em;
    margin-left: 50px;
}

.abreMenu {
    font-size: 2em;
    cursor: pointer;
}


/* --- Decoración del acordeón --- */

.acordeon{
    background-color: brown;
    color: yellow;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
}

.activo, .acordeon:hover{
    background-color: #EF9A9A;
}

.panel{
    padding: 0 1em;
    display: none;
    background-color: white;
    overflow: hidden;
}