* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* --- Decoración del menú lateral --- */

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: brown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: yellow;
    display: block;
    transition: 0.5s;
}

.menu a:hover {
    color: black;
}

.menu .cerrarMenu {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 2em;
    margin-left: 50px;
}

.abreMenu {
    font-size: 2em;
    cursor: pointer;
}

/* --- Decoración de la galeria --- */

.columna {
    float: left;
    width: 16%;
    padding: 10px;
}

.columna img {
    opacity: .7;
    cursor: pointer;
}

.columna img:hover {
    opacity: 1;
}

h2 {
    text-align: center;
}

.renglon::after {
    content: "";
    display: table;
    clear: both;
}

.contenido {
    display: none;
    position: relative;
    top: 50%;
    left: 35%;
    margin: -25px 0 0 -25px;
    /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
}

#texto {
    position: absolute;
    top: 25px;
    left: 5px;
    color: blue;
    font-size: 30px;
}

.cerrar {
    position: absolute;
    top: 20px;
    left: 470px;
    color: brown;
    font-size: 35px;
    cursor: pointer;
}
