/* --- Decoración del menú lateral --- */

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: brown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: yellow;
    display: block;
    transition: 0.5s;
}

.menu a:hover {
    color: black;
}

.menu .cerrarMenu {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 2em;
    margin-left: 50px;
}

.abreMenu {
    font-size: 2em;
    cursor: pointer;
}

/* --- Decoración del juego de memeoria --- */

#juego {
    opacity: 0.3;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 25%;
    height: 25%;
    background-color: brown;
    border: 3px solid black;
    border-radius: 5px;
}

.letra {
    color: yellow;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

input {
    width: 90px;
    height: 30px;
}

.centrar {
    text-align: center;
}

#iniciar {
    margin: 20px auto;
    width: 25%;
    height: 50%;
    border: 5px solid black;
    border-radius: 4em;
    background-color: brown;
    color: yellow;
}